/* styles.css */
body {
    background-color: #f5e6e8; /* rosa bebê */
    font-family: Arial, sans-serif; /* definir uma fonte */
}

.navbar {
    background-color: #fbe1e3; /* rosa bebê mais claro */
    color: #634f4e; /* cor de texto bege */
    padding: 10px;
}

.btn {
    background-color: #f7cacc; /* rosa bebê */
    color: #634f4e; /* cor de texto bege */
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

a {
    color: #f5e6e8; /* rosa bebê para links */
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
