* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: rgb(131, 58, 180);
  background: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(213, 158, 213, 1) 37%, rgba(145, 92, 145, 1) 100%);
  height: 100vh; /* Garante que preencha toda a tela */
}